.flex {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;   
    padding: 16px;
    background-color: royalblue;
    height: 200px;
}

div.box {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    font-size: 2em;
    width: 2em;
    height: 2em;
}

section {
    margin-bottom: 24px;
}